/**
* @author Binlin
* @date 2015-06-01
* @email zhangbin@patsnap.com
*/
body{background: #f2f0eb;color:#626161;font-size: 14px;min-width:1150px;}
.header{height:50px;width:100%;background:#DAD5C8;position:fixed;top:0px;z-index:1000;}
.mt10{margin-top: 10px;}
.wrap-all{width:100%;margin:70px auto 0;font-family: 微软雅黑;position: relative;padding:0 10px 0 100px;}
.row-main{background:#fff;padding:15px;}
.row-zero{float: left;width:90px;margin-left: -20px;position: fixed;left:21px;z-index:10000;}
.row-one{float: left;padding:10px 20px;height:700px;overflow: auto;position: fixed;width:35%;min-width:400px;}
.row-two{float: right;padding:0 10px;min-height: 700px;width:60%;}
.for-position{position: relative;top:25px;left:-5px;padding-left:0;}
.for-position-unline{position: relative;top:10px;left:-5px;padding-left:0;}
.common-box{padding:15px;border-left:5px solid #eee;border-top: 1px solid #eee;border-bottom: 1px solid #eee;border-right: 1px solid #eee;border-radius:5px;-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);box-shadow: 0 5px 15px rgba(0,0,0,.5);margin-bottom: 20px;transition:border 0.5s;}
.common-box:hover{background:#f1f3f5;border-left:5px solid #72afec;border-top: 1px solid #72afec;border-bottom: 1px solid #72afec;border-right: 1px solid #72afec;-webkit-box-shadow: 0 5px 15px rgba(114,175,236,.5);box-shadow: 0 5px 15px rgba(114,175,236,.5);}
.common-box .close{position: relative;top:-10px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.common-box .unit{font-size: 20px;}
.add-black-border{border-left:3px solid #000;}
.nav li{cursor: pointer;position: relative;z-index: 1000;}
.nav{min-height:700px;}
.nav.nav-pills > li > a{border-radius: 0 4px 4px 0}
.fix-menu .nav li.active a{background: #72afec;}

.banner{width:100%;}

/*table td{padding:10px 25px;background: #f8f7f6}*/
h1.h1,h3.h3,pre{margin:0;}
table td.nopadding{padding:0;}
h1.h1{font-size: 26px;}
h3.h3{font-size: 20px;}
pre { 
whitewhite-space: pre-wrap; /* css-3 */ 
whitewhite-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
whitewhite-space: -pre-wrap; /* Opera 4-6 */ 
whitewhite-space: -o-pre-wrap; /* Opera 7 */ 
word-wrap: break-word; /* Internet Explorer 5.5+ */ 
whitewhite-space : normal ; /* Internet Explorer 5.5+ */ 
max-width: 560px;
} 
.selectModel{width:110px;position: absolute;left:20px;top:8px;}
.choose-color{list-style:none;width:400px;position: absolute;top:10px;left:150px;margin:0;padding:0;}
.choose-color li{float: left;height:30px;width:30px;margin-right: 5px;cursor:pointer;}
.choose-color li.colorOne{background: #5c9ad2;}
.choose-color li.colorTwo{background: #5fbdb8;}
.choose-color li.colorThree{background: #389888;}
.choose-color li.colorFour{background: #55ae6b;}
.choose-color li.colorFive{background: #71b05d;}
.choose-color li.colorSix{background: #ea5557;}
.choose-color li.colorSeven{background: #e87d4f;}
.choose-color li.colorEight{background: #f4b246;}
.choose-color li.beselected{border:1px solid #fff;}
.textarea-ul{list-style: none;cursor: pointer;}
.txtareaWhite{background: #fff;height:30px;width:30px;float: left;margin-right: 10px;border:1px solid #e8e8e8;}
.txtareaBlack{background: #f8f7f6;height:30px;width:30px;float: left;border:1px solid #e8e8e8;}
.trhover{outline:1px solid rgba(0,100,255,0.2);}
.bs-example{height:35px;position: absolute;top:10px;right:70px;}
.saveHtml{opacity: 0;position: absolute;top:-100px;}










